<p>
<a href="https://github.com/unlight/angular2-blank-project">Angular 2 Project</a>
Light-weight and easy to use seed project for Angular 2 apps.</p>
<p>Based on <a href="https://github.com/ghpabs/angular2-seed-project">ghpabs/angular2-seed-project</a>
 and <a href="https://github.com/mraible/angular2-tutorial">mraible/angular2-tutorial</a>.</p>

<h2>Features</h2>
<ul>
    <li>Gulp 4 incremental builds (since, lastRun)</li>
    <li>Unit tests coverage (with remap to TypeScript source)</li>
    <li>Merged pipeline of SASS, LESS and CSS + PostCSS</li>
    <li>Ready to go, statically typed build system using Gulp for working with TypeScript.</li>
    <li>Production and development builds.</li>
    <li>Sample unit tests with Jasmine and Karma including code coverage via Istanbul.</li>
    <li>End-to-end tests with Protractor.</li>
    <li>Development server with live reload.</li>
    <li>TypeScript definition management using Typings.</li>
    <li>Basic Service Worker, which implements "Cache then network strategy".</li>
</ul>
