.todo-item-text {
  display: block;
  padding: .435rem .8rem;
  text-transform: capitalize;
}

.todo-item-input {
  @extend .form-control;
}

.todo-item-select {
  margin: 13px 0 0;
}

.todo-item-delete {
  @extend .btn;
  @extend .btn-danger;
  @extend .pull-xs-right;
}

.todo-item {

  &.completed {
    .todo-item-text {
      // color: $gray-lighter;
      text-decoration: line-through;
    }
  }
}
