<h1>{{title}}</h1>

<p>
  Howdy! Here's a list of awesome computer scientists.
  Do you know any others? Add to the list yourself.
</p>

<p><a href="javascript:" (click)="openWindow()">open window from modal module</a></p>
<p><a href="javascript:" (click)="openWindow2()">open window from modal module 2</a></p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let name of nameListService.get()">{{name}}</li>
</ul>

